<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
    <style>
        ol {
            list-style: none;
        }

        .signature {
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <p>
        Liebe Mitglieder des Fachschaftsrats 4, liebe Studierende des Fachbereichs 4, lieber AStA,
    </p>
    <p>
        hiermit lade ich Euch herzlich zur nächsten Sitzung des Fachschaftsrats 4 ein.
        Die Sitzung findet am {{dateTime}} Uhr online statt.
    </p>
    <p>
        Für eine Teilnahme an der Sitzung tretet bitte dem folgenden moodle-Kurs bei:
        <a href="https://moodle.htw-berlin.de/course/view.php?id=26794">https://moodle.htw-berlin.de/course/view.php?id=26794</a>.
        Falls die Selbsteinschreibung ein Passwort erfordert, lautet dieses: "FSR4-Sitzung".
        Die Sitzung findet innerhalb des Kurses im eigens dafür angelegten Sitzungsraum (BigBlueButton) statt.
    </p>
    <p>
        Vorläufige Tagesordnung: {{to}}
    </p>
    <p>
        Wer einen Antrag zu einem Tagesordnungspunkt (TOP) dieser Sitzung stellen möchte, schickt mir bitte
        den ausgefüllten Musterantrag (siehe Anhang) bis zum 21. Juli 2021, 19:00 Uhr (Ausschlussfrist) als
        Antwort auf diese Mail. Anträge können nicht ohne die antragsstellende Person oder eine angemeldete
        Vertretung behandelt werden.
    </p>
    <p>
        Unsere Sitzungen sind öffentlich und wir freuen uns immer über
        Gäste aus der gesamten Studierendenschaft des Fachbereichs.
    </p>
    <div class="signature">
        <p>
            Liebe Grüße,
        </p>
        <p>
            Der Vorstand vom FSR4
        </p>
    </div>
    <hr>
    <p>
        FSR4-Friends-Liste für alle, die gerne helfen möchten:
    </p>
    <p>
        <a href="https://lists.htw-berlin.de/mailman/listinfo/fsr4-friends">https://lists.htw-berlin.de/mailman/listinfo/fsr4-friends</a>
    </p>
</body>
</html>
